@font-face {
  font-family: 'Raleway', sans-serif;
  src: url();
}

* {
  font-family: Raleway;
  color: #B4CDED;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: initial;
  font-family: Raleway;
  line-height: initial;
  margin: 0;
  background-color: #B4CDED;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway;
  font-weight: 700;
  margin: initial;
  padding-bottom: 10px;
}


#top-nav {
  display: none;
}

#general-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: auto;
  grid-template-areas: "left-nav main right-nav";
  grid-template-columns: 200px auto 200px;
  justify-items: center;
}

#left-nav {
  display: grid;
  grid-area: left-nav;
  width: 200px;
  height: 100%;
  grid-template-rows: 5% 20% 3% auto auto 5% 5%;
  row-gap: 2vh;
  justify-items: center;
  background-color: #0D1821;
}

#left-nav #logo {
  display: grid;
  justify-items: center;
}

#left-nav #logo img {
  width: 130px;
}

#left-nav #logo h1 {
  font-size: 25pt;
}

#left-nav #menu {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

#left-nav #menu a {
  display: grid;
  grid-template-columns: 40px auto;
}

#left-nav #menu a i {
  font-size: 17pt;
}

#left-nav #menu a p {
  margin: 0;
}

#left-nav a {
  text-decoration: none;
}

a [href="/logout"] {
  text-decoration: none;
}

main {
  display: grid;
  grid-area: main;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
  /* background-image: url("/img/background/5.jpg");
  background-size: cover; */
}

main h1,
h3 {
  margin: 0;
  color: #0D1821;
}

main #timeline {
  display: grid;
  width: 60%;
  justify-items: center;
  row-gap: 20px;
}

main #timeline h1 {
  height: fit-content;
}

main #timeline #post-container {
  display: grid;
  row-gap: 20px;
}

main #timeline #post-container .post {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  column-gap: 10px;
  padding: 5px;
  border-radius: 10px;
  background: #0D1821;
}

main #timeline #post-container .post .song {
  display: grid;
  width: fit-content;
  justify-items: center;
}

main #timeline #post-container .post .song img {
  padding-top: 10px;
  width: 100%;
}

main #timeline #post-container .post .song h1 {
  width: fit-content;
  font-size: 15pt;
  color: #B4CDED;
}

main #timeline #post-container .post .song h3 {
  width: fit-content;
  font-size: 13pt;
  color: #B4CDED;
}

main #timeline #post-container .post .comment {
  display: grid;
  width: 95%;
  grid-template-rows: 15% auto;
  row-gap: 5px;
}

main #timeline #post-container .post .comment h1 {
  width: fit-content;
  font-size: 15pt;
  color: #B4CDED;
}

main #timeline #post-container .post .comment p {
  margin: 0;
  color: #B4CDED;
}

#right-nav {
  width: 200px;
  height: 100%;
  padding: 10px;
  grid-area: right-nav;
  background-color: #0D1821;
}

#right-nav h1 {
  margin-top: 40px;
  font-size: 20pt;
  text-align: center;
}

#right-nav #music-suggestion-container {
  margin-top: 40px;
  display: grid;
  row-gap: 15px;
}

#right-nav #music-suggestion-container .suggested-song {
  display: grid;
  width: 100%;
  justify-items: center;
  row-gap: 2px;
  text-align: center;
}

#right-nav #music-suggestion-container .suggested-song img {
  width: 100px;
  border-radius: 7px;
}

#right-nav #music-suggestion-container .suggested-song h1 {
  width: fit-content;
  margin: 0;
  font-size: 15pt;
  color: #B4CDED;
}

#right-nav #music-suggestion-container .suggested-song h3 {
  width: fit-content;
  font-size: 10pt;
  color: #B4CDED;
}

.material-symbols-outlined,
#post-container,
#postForm {
  /*To test if everything is there*/
  background-color: #0D1821;
}

.make-post{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.input{
  display: none;
}
#postForm{
  padding:25px;
}
#post-btn{
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
}

.btn {
  border: 3px solid #ff575a;
  color: #f0f4ef;
  background-color: #ff575a;
  padding: 12px 18px;
  border-radius: 40px;
  font-size: 13pt;
  font-weight: 600;
}

#post-container{
  padding: 25px;
}

.review h5{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.post h5{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.post p{
  font-weight: 600;
  font-size: 20px;
}

.review p{
  font-weight: 600;
  font-size: 20px;
}

.songimg{
  padding-top:10px;
  display: grid;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  #general-container {
    overflow-x: hidden;
    height: inherit;
    width: inherit;
    margin: auto;
    grid-template-areas: "top-nav top-nav" "main right-nav";
    grid-template-columns: auto 150px;
    grid-template-rows: 10vh auto;
    justify-items: center;
  }
  #top-nav {
    display: grid;
    grid-template-areas: "top-logo ." "top-menu top-menu";
    grid-template-columns: auto auto;
    grid-area: top-nav;
    width: 100%;
    position: relative;
    background-color: #0D1821;
  }
  #top-nav #top-menu {
    display: none;
    width: 100vw;
    padding: 20px 0;
    z-index: 1;
    grid-area: top-menu;
    row-gap: 20px;
    transition: 1s;
    background-color: #0D1821;
  }
  #top-nav #top-menu a {
    padding-left: 10px;
    text-decoration: none;
    font-size: 17pt;
  }
  #top-nav #top-logo {
    display: grid;
    height: 9vh;
    width: 350px;
    z-index: 2;
    grid-template-columns: 9vh 70%;
    grid-area: top-logo;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: #B4CDED;
  }
  #top-nav img {
    height: 7vh;
  }
  #top-nav h1 {
    margin: 0;
    font-size: 35pt;
  }
  #top-nav #hamburger {
    position: absolute;
    right: 10px;
    top: 10px;
    align-self: center;
    font-size: 45pt;
  }
  #top-nav #hamburger:hover {
    cursor: pointer;
    background-color: #0D1821;
    color: #B4CDED;
  }
  .active {
    background-color: #0D1821;
    color: #B4CDED;
  }
  #left-nav {
    display: none;
  }
  #right-nav {
    width: 150px;
  }
  #right-nav h1 {
    margin-top: 20px;
    font-size: 17pt;
  }
  #right-nav #music-suggestion-container {
    margin-top: 40px;
  }
  #right-nav #music-suggestion-container .suggested-song img {
    width: 90px;
  }
  #right-nav #music-suggestion-container .suggested-song h1 {
    font-size: 13pt;
  }
  #right-nav #music-suggestion-container .suggested-song h3 {
    font-size: 8pt;
  }
}

@media screen and (max-width: 480px) {
  #general-container {
    grid-template-areas: "top-nav" "right-nav" "main";
    grid-template-rows: 6vh 13vh auto;
    grid-template-columns: auto;
  }
  #top-nav #top-logo {
    height: 6vh;
    width: 300px;
  }
  #top-nav #top-logo img {
    height: 4vh;
  }
  #top-nav #top-logo h1 {
    font-size: 30pt;
  }
  #top-nav #hamburger {
    font-size: 30pt;
  }
  #right-nav {
    width: 100vw;
    padding: 0;
  }
  #right-nav h1 {
    display: none;
  }
  #right-nav #music-suggestion-container {
    width: 100%;
    margin: 5px 0;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }
  #right-nav #music-suggestion-container .suggested-song {
    width: 90px;
  }
  #right-nav #music-suggestion-container .num-4 {
    display: none;
  }
  #right-nav #music-suggestion-container .suggested-song img {
    width: 70px;
  }
  #right-nav #music-suggestion-container .suggested-song h1 {
    display: inline;
    font-size: 10pt;
    text-overflow: ellipsis;
  }
  #right-nav #music-suggestion-container .suggested-song h3 {
    display: none;
  }
}