input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 80%;
}

#searchBar {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 3px;
}

#song-display {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

#song-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 30px;
  width: 90%;

}

.song h3{
  color: black;
  word-wrap: break-word;
  font-size: 15px;
}

.song p{
  color: black;
  word-wrap: break-word;
  font-size: 12px;
}