@font-face {
  font-family: 'Raleway', sans-serif;
  src: url();
}

* {
  font-family: Raleway;
  color: #B4CDED;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #B4CDED;
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#header-container {
  grid-area: header;
  width: 100vw;
  background-color: #344966;
}

#header-container header {
  display: grid;
  grid-template-columns: 7vh auto;
  column-gap: 10px;
  align-items: center;
  width: fit-content;
  margin: 1.5vh auto;
}

#header-container #logo {
  height: 7vh;
}

#header-container h1 {
  width: fit-content;
  margin: auto;
  font-size: 40pt;
  color: #ff575a !important;
}

/* #general-container {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-areas: "header" "login-form";
    grid-template-columns: auto;
    grid-template-rows: 10vh auto auto;
    justify-items: center;
    margin: auto;
  } */

#general-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "left-bar main right-bar";
  grid-template-columns: 15% 70% 15%;
  justify-items: center;
  margin: auto;
}

.info {
  display: grid;
  grid-area: login-form;
  row-gap: 20px;
  width: 35vw;
  height: fit-content;
  margin-top: 60px;
  padding: 20px;
}

.info [type="button"],
[type="submit"] {
  padding: 12px 18px;
  border: 3px solid #ff575a;
  border-radius: 40px;
  font-size: 13pt;
  font-weight: 600;
  color: #f0f4ef;
  background-color: #ff575a;
  cursor: pointer;
}

.info [type="username"],
[type="email"],
[type="password"],
[type="age"] {
  padding: 20px;
  border: 3px solid #344966;
  border-radius: 7px;
  color: #B4CDED;
  background-color: #0D1821;
  font-size: 13pt;
  font-weight: 600;
}



.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;

}

.btn {
  border: 3px solid #ff575a;
  color: #f0f4ef;
  background-color: #ff575a;
  padding: 12px 18px;
  border-radius: 40px;
  font-size: 13pt;
  font-weight: 600;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



#left-bar {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 5% 20% 3% auto auto 5% 5%;
  row-gap: 2vh;
  justify-items: center;
  background-color: #0D1821;
}

#left-bar #logo {
  display: grid;
  justify-items: center;
}

#left-bar #logo img {
  width: 50%;
}

#left-bar #menu {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

#left-bar #menu a {
  display: grid;
  grid-template-columns: 40px auto;
}

#left-bar #menu a i {
  font-size: 17pt;
}

#left-bar #menu a p {
  margin: 0;
}

#left-bar a {
  text-decoration: none;
}

a [href="/logout"] {
  text-decoration: none;
}


.topnav{
  display: none;
}



@media screen and (max-width: 1200px) {

  #general-container {
    display: grid;
    height: inherit;
    width: inherit;
    grid-template-areas: "header""login-form";
    grid-template-columns: auto;
    grid-template-rows: 10vh auto auto;
    justify-items: center;
    margin: auto;
  }

  body {
    align-items: center;
    justify-content: center;
  }

  form {
    align-items: center;
    justify-content: center;
  }

  #left-bar {
    display: none;
  }
  .topnav{
    display: block;
  }

.topnav {
  overflow: hidden;
  background-color: #0D1821;
  position: relative;
  padding-left:10px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #B4CDED;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding-left:10px;
}

.topnav a:hover {
  background-color: #0D1821;
  color: #B4CDED;
}

.active {
  background-color: #0D1821;
  color: #B4CDED;
}

.img {
  position: relative;
  float: left;
  width:  50px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding-right: 10px;
}
.h1{
  padding-top:5px;
}

  
}