<footer>
  <h2>Audio Cave</h2>
  <p>A place to relax and listen</p>
  <ul class="links">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    padding: 20px 0;
    color: white;
    text-align: center;
    background-color: #696969;
  }
  
  .links {
    margin: 16px 0 48px 0;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .links li {
    margin: 0 10px;
  }
  
  .links a {
    text-decoration: none;
    color: white;
  }
  
  .links a:hover {
    color: orange;
  }
</style>